.main {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.aboutMe {
    text-align: center;
}

.aboutMe img {
    width: 350px;
    border-radius: 100%;
}
